extends layout

block content
  h1= title
  - var results = [{Category: "Petrol", Color: "Gold" , Quantity: 5},{Category: "Diesel", Color: "Light Green" , Quantity: 4},{Category: "Ethanol", Color: "clear colorless" , Quantity: 3}]
  div(class = "container-fluid")
   div(class = "row")
    each item, index in results
     div.col-sm-2(onclick=`buy(${index})`) Category: #{item["Category"]} <br> Color: #{item["Color"]} <br> Quantity: #{item["Quantity"]}

  script. 
    function buy(index) {
        alert("You purchased item " + index + ".")
    } 